@model IEnumerable<MVC_eCommerce_Ashley_Furniture_Project.Models.Ordered>

@{
    ViewData["Title"] = "ViewOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ViewOrder</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ProductQuntity)
            </th>
            <th>
                Total Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (MVC_eCommerce_Ashley_Furniture_Project.Models.Ordered item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuntity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTotalBill)
            </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Index">Shop Continue</a>
</p>